<!-- 菜单栏 -->
<div class="menu-header" style="margin-bottom: 50px;">
    <ul style="position: fixed;z-index: 100">
        <img class="logo" src="https://www.usetools.cn/images/logo.png" >

        <li><a href="/" style="margin-left: 100px">首页</a></li>
        <li><a href="/main?home">后台管理</a></li>
        <li><a href="/html/quickStart.html" target="_blank">快速入门</a></li>
        <li><a href="javascript:;">留言建议</a></li>
        <input type="text" id="keywords" placeholder="搜共享链接...">

        <div id="userDiv" style=" position: fixed;z-index: 1000;right: 0;">
            <li style="float:right"><a href="/html/register.html" id="">注册</a></li>
            <li style="float:right"><a href="javascript:;" id="login">登入</a></li>
        </div>
    </ul>
</div>