<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快速打开</title>

    <link rel="stylesheet" href="https://www.usetools.cn/layui/css/layui.css">

    <link rel="stylesheet" href="https://www.usetools.cn/css/eleTree.css" media="all">

    <style>
        .form-dialog,.hide{
            display: none;
        }
        /*设定表格特定的字体大小*/
        .layui-table-cell {
            font-size: 16px;
        }
        .folderTree{
            height: 320px;
            display: none
        }
        .selectFoldertree{
            height: 255px;
        }
    </style>


</head>
<body>
        <div class="layui-row">
            <div class="layui-col-md4">
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="width: 110px;float: right">
                        <select name="interest" id="searchType">
                            <option value="0">综合查询</option>
                            <option value="1">名称查询</option>
                            <option value="2">位置查询</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="layui-col-md4">
                <input type="text" id="keywords" name="title" placeholder="输入关键字进行搜索" autocomplete="off" class="layui-input" style="float: left">
            </div>
            <div class="layui-col-md2">
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary" id="searchBtn">
                        <i class="layui-icon layui-icon-search"></i> 搜索
                    </button>
                    <button class="layui-btn layui-btn-primary" id="addBtn">
                        <i class="layui-icon layui-icon-add-1"></i> 添加
                    </button>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-form" lay-filter="example">
                    <label class="layui-form-label">批量打开</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row" style="height: 90%">
            <table id="demo" lay-filter="test"></table>
        </div>


</body>

</html>

<!-- 工具栏模板： -->
<script type="text/html" id="toolbarDemo" lay-event="tool">
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delete">删除</button>
</script>

<!-- 链接状态模板： -->
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="isShare" lay-skin="switch" lay-text="共享|私有" lay-filter="isShare" {{ d.isShare == true ? 'checked' : '' }}><!-- 加上这个就是打开的状态checked -->
</script>

<!-- 网址链接列的templet -->
<script type="text/html" id="urlTpl">
    <a href="{{d.url}}" class="layui-table-link" target="_blank" onclick="isClose()">{{ d.url }}</a>
</script>


<script src="https://www.usetools.cn/layui/layui.js"></script><!-- 需要首先加载 -->
<script src="/myjs/app.js?v=1.0.1"></script>
<script src="https://www.usetools.cn/js/jquery.min.js"></script>
<script>
    var table;
    var layer;
    var $;
    var form;
    var layer_folderTree;

    var tableOption;//抽取table公共的配置项
    var tableIns;//表格实例
    var editLayer;//编辑弹窗id
    var myUtil;//添加弹窗id

    //输入框获得焦点
    window.onload=function() {
        $("#keywords").focus();
    }

    //判断是否是连续打开网址
    function isClose() {
        if($('.layui-form-switch').find('em').eq(0).html()=='OFF'){
            window.close()
        }
    }

    layui.use(['table','layer','form',"jquery","myUtil",'myDialog'], function(){
        table = layui.table
        layer=layui.layer;
        layer_folderTree=layui.layer;//文件夹树显示层
        $ = layui.jquery;
        form=layui.form;
        myUtil=layui.myUtil;

        var myDialog=layui.myDialog;
        myDialog.init();//弹窗初始化

        //示范一个公告层
        <#if showNotice?? > ${showNotice} </#if>

        //绑定点击搜索
        $("#searchBtn").on("click",function () {
            var buff = $.extend(true,{},tableOption) //值赋值
            buff.url='/url/getUrlsLike';
            buff.where={keywords:$("#keywords")[0].value,searchType:$("#searchType")[0].value};
            buff.page={curr: 1};//从第一页开始
            tableIns = table.render(buff);
        })
        //绑定回车搜索
        $("#keywords").keydown(function(event){
            if(event.keyCode==13){
                $("#searchBtn").click();//调用点击事件
            }
        });

        //抽取公共的配置项
        tableOption={
            elem: '#demo'
            ,height: $(window).height()*0.85
            ,page: true //开启分页
            ,url:'/url/getUrlsLike'
            ,where:{keywords:'',searchType:0}
            ,skin: 'line' //行边框风格
            ,limits:[10,20,30]//分页的数量选择
            ,cols: [[ //表头
                {field: 'id', title: 'id', align:'center',hide:"true"}//隐藏id
                ,{field: 'label', title: '网址名称', align:'center',unresize:true,width:'25%'}
                ,{field: 'url', title: '网址链接',templet: '#urlTpl', align:'center',unresize:true,width:'25%'}
                ,{field: 'pidName', title: '文件夹' ,align:'center',unresize:true,width:'13%'}
                ,{field: 'createTime', title: '创建时间' ,align:'center',unresize:true,width:"18%"}
                ,{field:'isShare', title:'状态', templet: '#switchTpl',align:'center', unresize: true, width:"8%"}
                ,{fixed: 'handle',title: '操作', align:'center', toolbar: '#toolbarDemo',width:"11%"} //这里的toolbar值是模板元素的选择器
            ]],
        };


        //首次渲染表格,拿到对象
        tableIns = table.render(tableOption);//传入参数进行渲染


        //监听行内工具条
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'delete'){ //删除
                //确认弹窗
                layer.confirm('您确定要删除该网址吗', {
                    btn: ['确定','取消'], //按钮
                    shadeClose: true,
                }, function(){
                    myUtil.ajax("/url/delete",{id:obj.data.id,isShare:obj.data.isShare},function (data) {
                        if(data.code==0){
                            tableIns.reload(tableOption);//刷新表格
                            layer.msg("删除成功");
                        }
                    })
                }, function(){
                });

            } else if(layEvent === 'edit'){ //编辑
                //更改网址弹窗
                editLayer=layer.open({
                    type: 1,
                    shadeClose: true,
                    area: ['515px', '351px'], //宽高
                    content: $("#editText")
                });


                form.val("editText", {
                    "id": obj.data.id
                    ,"label": obj.data.label
                    ,"url": obj.data.url
                    ,"pidName": obj.data.pidName
                    ,"pid": obj.data.pid
                })
            }
        });

        //监听链接状态事件
        form.on('switch(isShare)', function(obj){
            var tds=$(obj.elem).closest("tr").find("td");

            var i=0;//递增使用

            var id=$(tds.get(0+i)).find("div").text();
            var label=$(tds.get(1+i)).find("div").text();
            var url=$(tds.get(2+i)).find("div a").text();
            var pidName=$(tds.get(3+i)).find("div").text();
            var creatTime=$(tds.get(4+i)).find("div").text();

            var url={
                id:id,
                url:url,
                label:label,
                pidName:pidName,
                time:creatTime,
                isShare:obj.elem.checked
            }
            //修改链接共享的状态
            myUtil.ajax("/url/changeShareStatus",url,function (data) {
                layer.msg(data.message);
            })
        });


    });


</script>


