<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快速收藏</title>

    <link rel="stylesheet" href="http://www.usetools.cn/layui/css/layui.css">

    <link rel="stylesheet" href="http://www.usetools.cn/css/eleTree.css" media="all">
    <style>
        .form-dialog,.hide{
            display: none;
        }
        .folderTree{
            height: 320px;
            display: none
        }
        .selectFoldertree{
            height: 255px;
        }
    </style>


</head>
<body>


</body>
</html>

<script src="http://www.usetools.cn/js/jquery.min.js"></script>
<script src="http://www.usetools.cn/layui/layui.js"></script><!-- 需要首先加载 -->
<script src="http://www.usetools.cn/myjs/app.js?v=1.0.1"></script>
<script src="http://www.usetools.cn/js/util.js"></script>
<script>
    var eleTree;
    var layer;
    var $;
    var form;
    var layer_folderTree;

    var searchTableDataObj;//保存请求到的文件夹数据,可用于搜索
    var parentDataArr;//请求到的原始数据

    var addLayer;

    layui.use(['layer',"eleTree",'form',"jquery"], function() {
        layer = layui.layer;
        $ = layui.jquery;
        form = layui.form;
        layer_folderTree=layui.layer;//文件夹树显示层

        //查询默认文件夹id
        util.ajax("/user/getRootFolderId",[],function (data) {
            //清空表单
            form.val("addText", {
                "pidName": "默认文件夹",
                "pid": data
            })

            //添加网址弹窗
            addLayer=layer.open({
                type: 1,
                shadeClose: true,
                area: ['515px', '400px'], //宽高
                content: $("#addText")
            });

            //示范一个公告层
            <#if showNotice?? > ${showNotice} </#if>
        })

        //url添加事件
        form.on('submit(addSubmit)', function(data){
            //判断链接是否共享
            if(data.field.isShare!=undefined && data.field.isShare=="on"){
                data.field.isShare="true";
            }else{
                data.field.isShare="false";
            }

            util.ajax("/url/add",data.field,function (data) {
                layer.close(addLayer);

                setTimeout(function () {
                    window.close();
                },500)

                layer.msg("添加成功");

            })
            return false;
        });

        //参数长度校验
        form.verify({
            label: [/^.{1,150}$/,'长度在1~150之间']

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,myUrl: [/^.{1,500}$/,'长度在1~500之间']
        });

    })
</script>

<!-- url 添加 弹窗 -->
<div class="layui-form form-dialog"  id="addText" lay-filter="addText">
    <div class="layui-row">
        <div class="layui-col-md11">
            <div class="layui-form-item">
                <label class="layui-form-label">网址名称</label>
                <div class="layui-input-block">
                    <input id="add1" value="${title}" lay-verify="label" type="text" name="label" placeholder="请输入网址名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">网址链接</label>
                <div class="layui-input-block">
                    <input id="add2" value="${url}" lay-verify="myUrl" type="text" name="url"  placeholder="请输入网址链接" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文件夹位置</label>
                <div id="location_add" class="layui-input-block">
                    <input id="folderName_add" class="layui-input layui-input-inline selectTree" lay-verify="required" type="text" name="pidName" placeholder="请选择文件夹" readonly="readonly">
                    <button class="layui-btn layui-btn-primary selectTree" >选择</button>
                    <button class="layui-btn layui-btn-primary customFolderSetting">自定义</button>
                    <input id="folderId_add" class="layui-input hide" lay-verify="required" type="text" name="pid" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">链接状态</label>
                <div id="isShare" class="layui-input-block">
                    <input type="checkbox" name="isShare" lay-skin="switch" checked lay-text="共享|私有"><!-- 默认是共享 -->
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;margin-left: 30px;">
                <div class="">
                    <button class="layui-btn " lay-submit lay-filter="addSubmit">添加</button>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <hr>
            <div style="text-align: center;margin-top: 30px;">
                <div class="layui-btn-container">
                    <a href="/main" class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm" target="_blank" onclick="window.close()">去往主页</a>
                    <a href="/fast/open" class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm">打开网址</a>
                </div>
            </div>
        </div>


    </div>

</div>

<!-- 文件夹树弹窗 -->
<div id="folderTree" class="folderTree">
    <input id='searchFolder' type='text' autocomplete='off' placeholder='输入关键字进行文件夹过滤' class='layui-input' >
    <div id="ele" class="eleTree ele1 selectFoldertree" lay-filter="data"></div>

    <script>

        layui.use(["eleTree"], function() {
            eleTree = layui.eleTree;


            //绑定输入框搜索事件
            $("#searchFolder").on("input",function (e) {
                if($("#searchFolder").val()!=""){
                    var parentDataArrBuff=$.extend(true,[],parentDataArr)
                    var searchTableDataObjBuff=parentDataArrBuff[0];
                    filterTree(searchTableDataObjBuff,$("#searchFolder").val(),parentDataArrBuff,0);
                    el.reload(parentDataArrBuff);//重新渲染filter文件夹后的数据
                }else{
                    el.reload(parentDataArr);//重新渲染原始数据
                }
            })

            //打开文件夹树弹窗
            $(".selectTree").on("click",function () {
                el.reload();//每次打开都重新请求最新的数据和重新渲染

                folderTree_layer=layer_folderTree.open({
                    type: 1,
                    shadeClose: true,
                    area: ['515px', '351px'], //宽高]
                    content: $("#folderTree")
                });

                $("#searchFolder").val("");//清空数据
                $("#searchFolder").focus();//获取焦点

            })

            //请求自定义文件夹id
            $(".customFolderSetting").on("click",function () {
                util.ajax("/user/getCustomFolder",{},function (data) {
                    if(data.code==0){
                        $("#folderId_add").val(data.data.customFolderId);
                        $("#folderName_add").val(data.data.customFolderName);
                    }else{
                        layer.msg(data.message);
                    }
                })
            })


            //请求数据,初始化
            el = eleTree.render({
                elem: '#ele',
                url: '/folder/query',//请求数据的url
                expandOnClickNode: false,//点击节点前的图标才收缩
                defaultExpandAll:true,//默认展开所有节点
                done: function(res){
                    var buff=buildTree(res);//转化成树结构
                    searchTableDataObj=buff[0];
                    parentDataArr=buff;
                    return buff;//将平面数据转换成tree数据,返回给data
                }
            });


            eleTree.on("nodeClick(data)", function (d) {
                clickNodeId=d.data.currentData.value;
                $("#folderId_add").val(clickNodeId);
                $("#folderName_add").val(d.data.currentData.label);
                layer_folderTree.close(folderTree_layer);
            });

            //过滤文件夹
            function filterTree(data,keyword,parentData,index) {
                if(data.children==undefined){
                    if(data.label.indexOf(keyword) == -1){//不包含,则删除自身
                        parentData.splice(index,1);
                    }
                    return;
                }

                for(var i=data.children.length-1;i>=0;i--){
                    filterTree(data.children[i],keyword,data.children,i);
                }

                if(data.children.length==0){
                    if(data.label.indexOf(keyword) == -1){//自身不包含,删除自身
                        parentData.splice(index,1);
                    }else{
                        delete data["children"];//自身包含,则删除children字段
                    }
                }
            }

        })


    </script>
</div>

