<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/layui/css/layui.css">

    <link rel="stylesheet" href="/css/eleTree.css" media="all">

    <link rel="stylesheet" type="text/css" href="/css/cascader.css" />

    <style>
        /*设定表格特定的字体大小*/
        .layui-table-cell {
            font-size: 16px;
        }
    </style>

</head>
<body>
<div class="layui-row">
    <div class="layui-col-md3">
        <div>
            <input type="text" autocomplete="off" placeholder="输入关键字进行过滤" class="layui-input" >
            <div class="eleTree ele1" lay-filter="data1"></div>
        </div>
    </div>

    <div class="layui-col-md9">
        <div>
            <label class="layui-form-label" style="font-size: 20px">批量操作</label>
            <div class="layui-btn-container">
                <button class="layui-btn" id="moveToBtn">移动到</button>
                <button class="layui-btn" id="deleteBtn">删除</button>
            </div>
        </div>

        <table id="demo" lay-filter="test"></table>
    </div>

</div>

</body>
</html>

<!-- 工具栏模板： -->
<script type="text/html" id="toolbarDemo" lay-event="tool">
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delete">删除</button>
</script>

<!-- 网址链接列的templet -->
<script type="text/html" id="urlTpl">
    <a href="{{d.url}}" class="layui-table-link" target="_blank">{{ d.url }}</a>
</script>

<script src="/js/jquery.min.js"></script>
<script src="/layui/layui.js"></script><!-- 需要首先加载 -->
<script src="/myjs/app.js?v=1.0.0"></script>
<script src="/js/util.js?v=1.8.4"></script>
<script>

    layui.use(['jquery', 'table','eleTree','form',"cascader"], function () {
        var eleTree = layui.eleTree;
        var table = layui.table
        var $ = layui.$;
        var form = layui.form;
        var cascader = layui.cascader;

        $("#moveToBtn").on("click",function () {
            //批量更改网址
            editLayer=layer.open({
                type: 1,
                shadeClose: true,
                area: ['700px', '500px'], //宽高
                content: $("#moveText")
            });
        })

        $("#deleteBtn").on("click",function () {
            var checkStatus = table.checkStatus('idTest')
            var data = checkStatus.data;

            var id="";
            for(var i=0;i<data.length;i++){id+=data[i].id+",";}
            util.ajax("/url/deleteInBatches",{id:id},function (data) {
                if(data.code==0){
                    tableOption.where={pid:clickNodeId};
                    tableIns.reload(tableOption);//刷新表格
                    layer.msg("批量删除成功");
                }
            })
        })

        //请求数据,初始化
        var el = eleTree.render({
            elem: '.ele1',
            url: '/folder/query',//请求数据的url
            draggable:true,//是否开启拖拽
            contextmenuList:["add","edit","remove"],//节点的操作
            expandOnClickNode: false,//点击节点前的图标才收缩
            defaultExpandAll:true,//默认展开所有节点
            done: function(res){
                return buildTree(res);//将平面数据转换成tree数据,返回给data
            }
        });

        // 添加子节点事件之前
        eleTree.on("nodeAppend(data1)", function (d) {
            layer.prompt({title: '请输入文件夹名称', formType: 0,maxlength: 10}, function(pass, index){
                util.ajax("/folder/addFolder",{name:pass,pid:d.data.value},function (data) {
                    d.setData({//设置数据
                        value:data.data.id,
                        pid: d.data.value,
                        label: pass,
                    });
                    if(data.code==0){
                        layer.close(index);
                        layer.msg('文件夹添加成功');
                    }
                })
            });

        });

        // 节点被编辑事件之前(检查编译后的名称和检验后台是否修改成功)
        eleTree.on("nodeEdit(data1)", function (d) {
            util.ajax("/folder/update",{name:d.value,id:d.data.value},function (data) {
                d.setFlag(data.code);
                if(data.code==0){
                    layer.msg('文件夹名称更改成功');
                }else{
                    layer.msg('文件夹名称更改失败');
                }
            })
        });

        // 节点被拖拽事件之前
        eleTree.on("nodeDrag(data1)", function (d) {
            //返回原来的节点,则返回
            if(d.current.data.currentData.pid==d.target.data.currentData.value){
                d.setFlag(0);//告知定时器结束定时
                return;
            }
            util.ajax("/folder/update",{id:d.current.data.currentData.value,pid:d.target.data.currentData.value},function (data) {
                d.setFlag(data.code);//通知ajax已经请求完成,进行下一步操作
                if(data.code==0){
                    layer.msg('文件夹位置更改成功');
                }else{
                    layer.msg('文件夹位置更改失败');
                }
            })
        });

        // 节点被删除事件
        eleTree.on("nodeRemove(data1)",function(d) {
            util.ajax("/folder/delete",{id:d.data.value},function (data) {
                d.setFlag(data.code);//通知ajax已经请求完成,进行下一步操作
                if(data.code==0){
                    layer.msg('删除成功');
                }else{
                    layer.msg(data.message);
                }
            })
        })



        var clickNodeId;//保存点击过的node的id
        eleTree.on("nodeClick(data1)", function (d) {
            clickNodeId=d.data.currentData.value;
            console.dir(d)
            tableIns.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    pid:clickNodeId
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });


//######################################################表格

        var tableOption={
            elem: '#demo'
            ,id:'idTest'
            ,height: '500'
            ,url: '/url/getUrlsByPid' //数据接口
            ,where:{pid:-1}
            ,page: true //开启分页
            ,skin: 'line' //行边框风格
            ,limits:[10,20,30]//分页的数量选择
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'id', title: 'id', align:'center',hide:"true"}//隐藏id
                ,{field: 'label', title: '网址名称', align:'center',unresize:true}
                ,{field: 'url', title: '网址链接',templet: '#urlTpl', align:'center',unresize:true}
                ,{field: 'pidName', title: '链接地址' ,align:'center',unresize:true}
                ,{field: 'createTime', title: '创建时间' ,align:'center',unresize:true}
                ,{fixed: 'handle',title: '操作', align:'center', toolbar: '#toolbarDemo'} //这里的toolbar值是模板元素的选择器
            ]],
        }

        //首次渲染,拿到对象
        var tableIns = table.render(tableOption);

        var editLayer;
        var cas_edit;//编辑弹窗的folder树
        //监听行内工具条
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'delete'){ //删除
                util.ajax("/url/delete",{id:obj.data.id},function (data) {
                    if(data.code==0){
                        tableOption.where={pid:clickNodeId};
                        tableIns.reload(tableOption);//刷新表格
                        layer.msg("删除成功");
                    }
                })
            } else if(layEvent === 'edit'){ //编辑
                //更改网址弹窗
                editLayer=layer.open({
                    type: 1,
                    shadeClose: true,
                    area: ['700px', '500px'], //宽高
                    content: $("#editText")
                });

                form.val("editText", {
                    "id": obj.data.id
                    ,"label": obj.data.label
                    ,"url": obj.data.url
                    ,"pidName": obj.data.pidName
                    ,"pid": obj.data.pid
                })
            }
        });



        //url修改的文件夹选项的option
        var FolderOption_edit={
            elem: "#folderName_edit",
            url:'/folder/query',
            triggerType: "change",//滑动选择
            showLastLevels: true,//选中后显示最后一个文件夹
            //指定点击的回调函数
            clickFunc:function (id) {
                $("#folderId_edit").val(id);
            },
            //数据格式转换 回调函数
            transData:function (data) {
                return buildTree(data);
            },
        };
        cas_edit=cascader(FolderOption_edit);//初次渲染

        //url批量移动的文件夹选项的option
        var FolderOption_move={
            elem: "#folderName_move",
            url:'/folder/query',
            triggerType: "change",//滑动选择
            showLastLevels: true,//选中后显示最后一个文件夹
            //指定点击的回调函数
            clickFunc:function (id) {
                $("#folderId_move").val(id);
            },
            //数据格式转换 回调函数
            transData:function (data) {
                return buildTree(data);
            },
        };
        cas_move=cascader(FolderOption_move);//初次渲染


        //监听提交
        form.on('submit(editSubmit)', function(formData){
            util.ajax("/url/update",formData.field,function (data) {
                tableOption.where={pid:clickNodeId};
                tableIns.reload(tableOption);//刷新表格

                layer.close(editLayer);
                layer.msg("更改成功");
            })
            return false;
        });

        //监听批量移动弹窗中的移动按钮
        form.on('submit(moveSubmit)', function(formData){
            var checkStatus = table.checkStatus('idTest')
            var data = checkStatus.data;

            var id="";
            for(var i=0;i<data.length;i++){
                id+=data[i].id+",";
            }

            util.ajax("/url/updateInBatches",{pid:formData.field.pid,id:id,pidName:formData.field.pidName},function (data) {
                if(data.code==0){
                    tableOption.where={pid:clickNodeId};
                    tableIns.reload(tableOption);//刷新表格

                    layer.close(editLayer);
                    layer.msg("更改成功");
                }
            })
            return false;
        });

    });

</script>


<!-- url编辑弹窗 -->
<form class="layui-form" lay-filter="editText" id="editText" style="display: none">
    <input lay-verify="required" type="text" name="id" class="layui-input">
    <div class="layui-form-item">
        <label class="layui-form-label">网址名称</label>
        <div class="layui-input-inline">
            <input id="edit1" lay-verify="required" type="text" name="label" placeholder="请输入网址名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网址链接</label>
        <div class="layui-input-inline">
            <input id="edit2" lay-verify="required" type="text" name="url"  placeholder="请输入网址链接" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文件夹位置</label>
        <div class="layui-input-block">
            <input id="folderName_edit" lay-verify="required" type="text" name="pidName" placeholder="请选择文件夹" class="layui-input" readonly="readonly">
            <input id="folderId_edit" lay-verify="required" type="text" name="pid"  class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="editSubmit">更改</button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </div>
</form>


<!-- url批量移动 弹窗 -->
<form class="layui-form" lay-filter="moveText" id="moveText" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">文件夹位置</label>
        <div class="layui-input-block">
            <input id="folderName_move" lay-verify="required" type="text" name="pidName" placeholder="请选择文件夹" class="layui-input" readonly="readonly">
            <input id="folderId_move" lay-verify="required" type="text" name="pid"  class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="moveSubmit">移动</button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </div>
</form>