<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>72cun - 网址收藏</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="/layui/style/template.css" media="all">
    <link rel="stylesheet" href="/css/global.css" media="all">

    <style type="text/css">
        .longtext{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
        .fly-header .fly-nav a {
            padding: 0 0px 0 60px;
        }
        .layadmin-homepage-list-imgtxt .media-body .media {
            margin-top: 0px;
            overflow: hidden;
        }
        .layadmin-privateletterlist-item {
            position: relative;
            display: block;
            padding: 3px 20px;
        }
        .homepage-bottom .layui-card-body .meida-left {
            display: table-cell;
            padding-right: 10px;
        }
    </style>
</head>

<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">

        <a class="fly-logo" href="javascript:;">
            <img src="/images/logo.png">
        </a>

        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="/"><i class="layui-icon layui-icon-home"></i>首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" id="personalPage"><i class="layui-icon layui-icon-username"></i>个人首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/main?home"><i class="layui-icon layui-icon-set"></i>后台管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="/html/quickStart.html" target="_blank"><i class="layui-icon layui-icon-chart-screen"></i>功能预览</a>
            </li>
        </ul>

        <!-- 搜索框 -->
        <input type="text" name="title" id="keywords" placeholder="搜共享链接" autocomplete="off" class="layui-input layui-hide-xs" style="position: absolute; left: 60%; top: 11px;width: 260px;">

        <ul class="layui-nav fly-nav-user" id="user">
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" href="javascript:;"></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" id="login">登入</a>
            </li>
            <li class="layui-nav-item">
                <a href="/html/register.html">注册</a>
            </li>
        </ul>
    </div>
</div>

<div class="layui-fluid layadmin-homepage-fluid">
    <div class="layui-row layui-col-space8">
        <div class="layui-col-md2">
            <div class="layadmin-homepage-panel layadmin-homepage-shadow" style="min-height:500px">
                <div class="layui-card text-center">
                    <h1>72cun-网址收藏</h1>
                </div>
                <p class="layadmin-homepage-about">关于我</p>
                <div class="layadmin-homepage-pad-hor">
                    <mdall>作者很懒！</mdall>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-fluid layadmin-homepage-content">
                <div class="layui-row layui-col-space20 layadmin-homepage-list-imgtxt">
                    <div class="layui-col-md9">

                        <div class="layui-card">
                            <div class="layui-tab layui-tab-brief layadmin-latestData">
                                <ul class="layui-tab-title" style="text-align: center">
                                    <li class="layui-this">热帖</li>
                                    <li class="">推荐</li>
                                    <li class="">热搜</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show" style="">
                                        <div class="flow-default" id="LAY_demo1">
                                            <!--动态生成-->
                                        </div>
                                    </div>
                                    <div class="layui-tab-item" style="">
                                        <div class="flow-default" id="LAY_demo2">
                                            还在开发中。。。
                                        </div>
                                    </div>
                                    <div class="layui-tab-item" style="">
                                        <div class="flow-default" id="LAY_demo3">
                                            还在开发中。。。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md3">
                        <div class="grid-demo layui-card homepage-bottom">
                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                <ul class="layui-tab-title" style="text-align: center">
                                    <li class="layui-this">分享达人</li>
                                    <li>获赞达人</li>
                                    <li>随机用户</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show layui-card-body">
                                        <div class="flow-default" id="shareUser">
                                            <!--动态生成-->
                                        </div>
                                    </div>
                                    <div class="layui-tab-item layui-card-body">
                                        <div id="goodUser">
                                            <!-- 动态生成点赞排行榜 -->
                                        </div>
                                    </div>
                                    <div class="layui-tab-item layui-card-body">
                                        <div id="randomUser">
                                            <!-- 动态生成随机用户 -->
                                            待开发。。。。。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/util.js"></script>
<script src="/myjs/app.js?v=1.0.1"></script><!-- 自己定义的模块 -->
<script>

    layui.use(['layer','homePageJs'], function() {
        var layer = layui.layer;
        var homePageJs=layui.homePageJs;

        homePageJs.init();//进行初始化

        homePageJs.loadUrlDataByFlow("LAY_demo1","/hotUrl/getHotUrlByHot",{});//热帖

        //绑定回车搜索
        $("#keywords").keyup(function(event){
            if(event.keyCode==13){
                window.location.href="http://localhost:8087/html/homePageSearch.html?search="+encodeURI($("#keywords")[0].value);
                $('#keywords').val('');//清空搜索框
            }
        });

    })
</script>
</body>
</html>


<!-- url 添加 弹窗 -->
<div class="layui-form form-dialog" id="loginDiv" lay-filter="loginDiv" style="display: none;">
    <div class="layui-row">
        <div class="layui-col-md11">
            <div class="layui-form-item" style="margin-top: 10px">
                <label class="layui-form-label" style="padding: 9px 0px;">账号</label>
                <div class="layui-input-block">
                    <input id="userName" lay-verify="myUserName" type="text" name="userName" placeholder="手机号/用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding: 9px 0px;">密码</label>
                <div class="layui-input-block">
                    <input type="password" id="password" lay-verify="myPassword" type="text" name="password"  placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" >
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="loginSubmit">登入</button>
                </div>
            </div>
        </div>
    </div>
</div>