<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/layui/css/layui.css">

    <!-- 右边主体的css -->
    <link rel="stylesheet" type="text/css" href="/css/fs.css?v=1.8.4" media="all"/>

</head>
<body>
        <div class="layui-row">
            <div class="layui-col-md4">
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="width: 110px;float: right">
                        <select name="interest">
                            <option value="0">综合查询</option>
                            <option value="0">名称查询</option>
                            <option value="0">位置查询</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="layui-col-md4">
                <input type="text" name="title" placeholder="输入关键字进行搜索" autocomplete="off" class="layui-input" style="float: left">
            </div>
            <div class="layui-col-md4">
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary">
                        <i class="layui-icon layui-icon-search"></i> 搜索
                    </button>
                    <button class="layui-btn layui-btn-primary">
                        <i class="layui-icon layui-icon-add-1"></i> 添加
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <table id="demo" lay-filter="test"></table>
        </div>
</body>
</html>

<!-- 工具栏模板： -->
<script type="text/html" id="toolbarDemo" lay-event="tool">
    <!--<div class="layui-btn-container">-->
    <!--</div>-->
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delete">删除</button>
</script>

<script src="/layui/layui.js"></script><!-- 需要首先加载 -->
<script src="/myjs/app.js?v=1.0.0"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //首次渲染,拿到对象
        var tableIns = table.render({
            elem: '#demo'
            ,height: '500'
            ,url: '/data/table.json' //数据接口
            ,page: true //开启分页
            ,skin: 'line' //行边框风格
            ,limits:[10,20,30]//分页的数量选择
            ,cols: [[ //表头

                {field: 'id', title: '网址名称', align:'center',}
                ,{field: 'username', title: '网址链接', align:'center',}
                ,{field: 'sex', title: '链接地址', align:'center',}
                ,{field: 'city', title: '创建时间' ,align:'center',}
                ,{fixed: 'right',title: '操作', align:'center', toolbar: '#toolbarDemo'} //这里的toolbar值是模板元素的选择器
            ]],
            done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);

                //得到当前页码
                console.log(curr);

                //得到数据总量
                console.log(count);
            }
        });


        //这里以搜索为例,在url请求不变的情况下
        function search(keyword) {
            tableIns.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    keyword: keyword,
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }


        //监听行内工具条
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'delete'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            }
        });

//        //监听添加事件
//        table.on('toolbar(test)', function(obj){
//            var checkStatus = table.checkStatus(obj.config.id);
//            if(obj.event==='add'){
//                layer.msg('添加');
//            }
//        });


        //监听行单击事件
        table.on('row(test)', function(obj){
//            layer.msg(obj.data.id);
//            console.log(obj.tr) //得到当前行元素对象
            console.log(obj.data) //得到当前行数据
//            obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
        });

        //监听行双击事件
        table.on('rowDouble(test)', function(obj){
            //obj 同上
            layer.msg('我被双击了');
        });






    });
</script>