<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyj.dao.HotUrlDao">

    <insert id="updateHotUrlByUrlIdBatch">
        replace into hotUrl  (urlId,clickNumber,goodNumber,score) VALUES
        <foreach collection="list" item="itemId" index="no" separator=",">
            ( #{itemId.urlId},#{itemId.clickNumber},#{itemId.goodNumber},#{itemId.score} )
        </foreach>
    </insert>

    <delete id="deleteHotUrlByUrlIdBatch">
        DELETE from hotUrl where `urlId` in
        <foreach collection="list" item="itemId" index="no" open="(" close=")" separator=",">
            #{itemId}
        </foreach>
    </delete>

    <!-- 更新点击量 -->
    <update id="updateHotUrlClickNumberByUrlIdBatch">
        <foreach collection="list" item="itemId" index="no" separator=";">
            update hotUrl set `clickNumber`=#{itemId.clickNumber} where `urlId`=#{itemId.urlId}
        </foreach>
    </update>

    <!-- 更新点赞量 -->
    <update id="updateHotUrlGoodNumberByUrlIdBatch">
        <foreach collection="list" item="itemId" index="no" separator=";">
            update hotUrl set `goodNumber`=#{itemId.goodNumber} where `urlId`=#{itemId.urlId}
        </foreach>
    </update>


</mapper>