<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyj.dao.URLDao">

    <!--<resultMap id="url_map" type="com.lyj.entity.URL">-->
        <!--<id column="id" property="id" jdbcType="INTEGER"></id>-->
        <!--<result column="url" property="url" jdbcType="VARCHAR"></result>-->
        <!--<result column="label" property="label" jdbcType="VARCHAR"></result>-->
        <!--<result column="pid" property="pid" jdbcType="INTEGER"></result>-->
        <!--<result column="userId" property="userId" jdbcType="INTEGER"></result>-->
        <!--<result column="createTime" property="createTime" jdbcType="TIMESTAMP"></result>-->
        <!--<result column="pidName" property="pidName" jdbcType="VARCHAR"></result>-->
    <!--</resultMap>-->


    <sql id="url_list">
        u.id,u.url,u.label,u.pid,u.userId,u.createTime,f.pidName
    </sql>

    <update id="updateUrl">
        UPDATE url
        <trim prefix="set" suffixOverrides=",">
            <if test="url!=null and url!='' ">
                url=#{url},
            </if>
            <if test="label!=null and label!='' ">
                label=#{label},
            </if>
            <if test="pid gt 0">
                pid=#{pid},
            </if>
            <if test="pidName!=null and pidName!='' ">
                pidName=#{pidName},
            </if>
        </trim>
        where id = #{id}
    </update>


    <insert id="addUrlBatch">
        insert into url (url,label,pid,createTime,userId,pidName) values
        <foreach collection="list" item="itemId" index="no" separator=",">
            ( #{itemId.url},#{itemId.label},#{itemId.pid},#{itemId.createTime},#{itemId.userId},#{itemId.pidName} )
        </foreach>
    </insert>

    <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
            : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
    <!-- 批量删除 -->
    <delete id="deleteUrlsByIds_Batch">
        delete from url where id in
        <foreach collection="list" item="itemId" index="no" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <!-- 批量删除 -->
    <update id="updateUrlsByIds_Batch">
        update url set pid=#{pid},pidName=#{pidName} where id in
        <foreach collection="ids" item="itemId" index="no" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </update>



</mapper>